#head{
    width: 35rem;
    margin: auto;
    padding: 2.5rem;
    text-align: center;
    font-size: larger;
    font-family: Arial, sans-serif;
    border-radius: 1rem;
    box-shadow: 0px 0px 40px rgb(2, 96, 139);
}

#main-work{
    text-align: center;
    margin-top: 8rem;
}
#main-work p{
    margin-top: 4.5rem;
    font-size: 1.5rem;
    margin-bottom: 2.2rem;
}
#main-work a{
    text-decoration: none;
    padding: 1rem;
    border-radius: 1rem;
    color: rgb(253, 253, 253);
    font-family: Arial, Helvetica, sans-serif;
    margin: 1rem;
}

#start-playing-button{
    background-color: rgb(241, 179, 43);
}
#start-playing-button:hover{
    background-color: rgb(199, 140, 13);
    box-shadow: 0px 0px 0px 5px rgb(230, 200, 50);
}
#contact-us-button{
    background-color: rgb(101, 156, 238);
}
#contact-us-button:hover{
    background-color: rgb(56, 101, 168);
    box-shadow: 0px 0px 0px 5px rgb(80, 130, 190);
}
#feedback-button{
    background-color: rgb(194, 214, 8);
}
#feedback-button:hover{
    background-color: rgb(155, 172, 6);
    box-shadow: 0px 0px 0px 5px rgb(185, 190, 35);
}


@media (max-width: 665px){
    #head{
        width: 75%;
    }
}