main{
  margin: auto;
  width: 30%;
}

form{
  border-radius: 1rem;
  box-shadow: 3px 4px 20px 3px #0ff;
  padding: 2rem;
}

form input{
  padding: 7px;
  width: 100%;
  border-radius: 4px;
  justify-content: center;
}

label {
  font-weight: bold;
  display: block;
}

#rating {
  display: flex;
  margin-top: 1rem;
  justify-content: center;
}

#rating input {
  display: none;
}

#rating label {
  font-size: 30px;
  cursor: pointer;
}

#rating label:hover,
#rating input:checked + label {
  color: gold;
}

textarea{
  width: 100%;
  height: 6rem;
}

form input:focus,
form textarea:focus{
  border: 0.7px solid;
  box-shadow: 2px 2px 2px 5px #a0f1f5;
}
form p{
  font-style: italic;
  margin-top: 2rem;
  color: rgb(83, 83, 83);
}
form button{
  margin-top: 2rem;
  width: 98%;
  height: 2rem;
  border: none;
  border-radius: 5rem;
  background-color:rgb(227, 252, 0);
}
form button:hover{
  background-color: rgb(107, 212, 3);
  color: rgb(255, 255, 255);
  transition: 0.3s ease
}
